@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 70px;
  font-family: 'Exo 2', sans-serif;
}

html, body {
  /* Starting Animations, Stage 1 */
  --logo-appear-time: 1500ms;
  --logo-background-appear-time: 1000ms;

  /* Stage 2 Animations */
  --contianer-slide-time: 1000ms;
  --stage2-delay: 2000ms;

  /* Stage 3 Animations */
  --title1-appear-time: 1000ms;
  --stage3-delay: calc(var(--stage2-delay) + 1000ms);

  height: 100%;
  background: radial-gradient(45% 90% at center,#242a40, #090d1f);
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .text-wrapper {
  position: absolute;
  max-width: 40%;
  opacity: 0;
  transform: translateX(60%);
  animation: title1-appear var(--title1-appear-time) forwards var(--stage3-delay); /* Stage 3 */
}

main .logo-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: wrapper-slide var(--contianer-slide-time) forwards var(--stage2-delay); /* Stage 2 */
}

main .logo {
  position: relative;
  animation: logo-appear var(--logo-appear-time) forwards; /* Stage 1 */
}

main .logo-background {
  position: absolute;
  opacity: 0.1;
  transform: scale(1.8);
  animation: logo-background-appear var(--logo-background-appear-time) forwards; /* Stage 1 */
}

main .canvas-wrapper {
  top: 0;
  left: 0;
  position: absolute;
}

main canvas {
  display: block;
  position: absolute;
  background: transparent;
}

/* Animation Keyframes */
@keyframes logo-appear {
  0% {
    transform: scale(0) rotate(-10deg);
    opacity: 0;
  }

  80% {
    transform: scale(1.1) rotate(5deg);
  }

  100% {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
}

@keyframes logo-background-appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.1;
    transform: scale(1.8);
  }
}

@keyframes wrapper-slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-60%);
  }
}

@keyframes title1-appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}