@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 70px;
  font-family: 'Exo 2', sans-serif;
}

html, body {
  height: 100%;
  background: radial-gradient(45% 90% at center,#242a40, #090d1f);
  /* animation timings */
  --cycle-duration: 25s;
  --section-duration: 30s;
  --title-pulse-duration: 5s;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container  {
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cycle {
  opacity: 0;
  animation: section-fade var(--section-duration) infinite alternate;
}

.title {
  opacity: 1;
  animation: section-fade-reverse var(--section-duration) infinite alternate;
}

@keyframes section-fade {
  0% { opacity: 1; }
  45% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes section-fade-reverse {
  0% { opacity: 0; }
  50% { opacity: 0; }
  55% { opacity: 1; }
  100% { opacity: 1; }
}

.title-wrapper {
  animation: title-pulse var(--title-pulse-duration) infinite alternate;
}

@keyframes title-pulse {
  0% { transform: scale(1); }
  5% { transform: scale(1); }
  100% { transform: scale(1.1); }
}

.title-wrapper h1 {
  font-size: 100px;
}

/* Text Elements */
main .text-wrapper {
  opacity: 1;
  transform: translateX(60%);
  animation: text var(--cycle-duration) infinite alternate;
}

main .underline {
  background-image: linear-gradient(to right, #f9f502, #c7a600);
  width: 100%;
  height: 5px;
  animation: underline var(--cycle-duration) infinite alternate;
}

@keyframes underline {
    0% { transform: scaleX(1); }
    35% { transform: scaleX(1); }
    45% { transform: scaleX(0); }
    100% { transform: scaleX(0); }
}

@keyframes text {
    0% { transform: translateX(60%); opacity: 1; }
    40% { transform: translateX(60%); opacity: 1; }
    50% { transform: translateX(60%); opacity: 0; }
    100% { transform: translateX(60%); opacity: 0; }
}

/* Logo Elements */
main .logo-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-60%);
  animation: wrapper-move var(--cycle-duration) infinite alternate;
}

@keyframes wrapper-move {
  0% { transform: translateX(-60%); }
  45% { transform: translateX(-60%); }
  55% { transform: translateX(0); }
  100% { transform: translateX(0); }
}

main .logo {
  position: relative;
  -webkit-filter: drop-shadow(0px 10px 0 rgba(0, 0, 0, 0.5));
  animation: logo-loop 7s infinite alternate ease-in-out;
}

@keyframes logo-loop {
    0% { transform: rotate(-5deg); }
    100% { transform: rotate(2deg) scale(1.1); }
}

main .logo-background {
  position: absolute;
  opacity: 0.1;
  transform: scale(1.8);
}

/* Canvas + Background */
main .canvas-wrapper {
  top: 0;
  left: 0;
  position: absolute;
}

main canvas {
  display: block;
  position: absolute;
  background: transparent;
}

/* Temp Gambling */
.side {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
}

.logo-side {
  width: 50%;
  animation: logo-loop 7s infinite alternate ease-in-out;
}
